@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');

:root {
    --red: #E5153D;
    --darkRed: #C81739;
  }

* {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    overflow-x: hidden;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background: var(--red);
    color: white;
}

header nav {
    height: 150px;
    display: grid;
    padding: 0px 60px 0px 60px;
    grid-template-columns: 1fr 2fr;
}

header nav img {
    width: 120px;
}

header nav li {
    display: inline-block;
    font-size: 16px;
    padding: 0px 15px 0px 15px;
    list-style: none;
}

header nav > div {
    display: flex;
    align-content: center;
    align-items: center;
}

header nav .n-right {
    justify-content: flex-end;
}

.intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.intro .i-left {
    display: flex;
    align-content: center;
    padding: 0px 0px 0px 60px;
    align-items: center;
}

.intro .i-right {
    display: flex;
    align-content: flex-end;
    align-items: flex-end;
    justify-content: flex-end;
}

.intro img {
    width: 90%;
}

.intro .i-left a {
    color: var(--darkRed);
    background: white;
    padding: 10px 40px 10px 40px;
    border-radius: 30px;
}

.intro p {
    margin: 0px 0px 40px 0px;
}

.about h2 {
    font-size: 32px;
    color: var(--darkRed);
}

.about {
    margin: 60px 0px 60px 60px;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
}

.about img {
    width: 250px;
}

.about p {
    padding: 30px 0px 30px 0px;
}

.about .a-right {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-end;
}

.break {
    background: var(--red);
    text-align: center;
    color: white;
    display: grid;
    height: 190px;
    grid-template-columns: 1fr 2fr 1fr;
}

.break .b-left {
    display: flex;
    align-content: flex-end;
    align-items: flex-end;
}

.break .b-right {
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-end;
}

.break img {
    width: 80%;
}

.break .b-middle {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.break h3 {
    font-weight: normal;
    font-size: 22px;
}


.products {
    margin: 60px 60px 60px 60px;
}

.products h2 {
    font-size: 32px;
    color: var(--darkRed);
}

.prod {
    margin: 60px 0px 60px 0px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.prod img {
    width: 90%;
}

.prod h4 {
    font-size: 22px;
    color: var(--red);
}

.prod p {
    padding: 20px 0px 30px 0px;
}

.prod > div {
    display: flex;
    align-content: center;
    align-items: center;
}

.prod .p-right {
    justify-content: flex-end;
}

.prod a {
    background: var(--red);
    color: white;
    border-radius: 30px;
    padding: 8px 20px 8px 20px;
    font-size: 15px;
}

.lm-ins {
    color: var(--darkRed);
    text-align: center;
    padding: 15px 0px 15px 0px;
}

.lm-ins img {
    width: 90px;
}

.lm-ins h3 {
    font-weight: normal;
    padding-top: 5px;
    font-size: 24px;
}

footer {
    color: white;
    background: var(--red);
}

.f-bot {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 40px 10px 40px;
    background: var(--darkRed);
}

#mobile {
    display: none;
}

.f-top ul li {
    padding: 3px 0px 3px 0px;
    list-style: none;
}

.f-top h3 {
    font-size: 26px;
    padding-bottom: 15px;
}

.f-bot img {
    width: 60px;
}

.f-top {
    padding: 60px 0px 60px 0px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.f-top p {
    margin-top: 0px;
    padding-top: 0px;
}

.resp {
    display: none;
    position: fixed;
    z-index: 998;
    background: var(--red);
    top: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    left: 0;
}

.resp ul li {
    padding: 30px 0px 30px 0px;
    color: white;
    list-style: none;
    font-size: 24px;
}

.r-ins {
    height: 100vh;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.ft-grid {
    grid-column-gap: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.f-top img {
    width: 30px;
    height: 30px;
    padding: 0px 5px 0px 5px;
}

.f-top img:nth-child(1) {
    padding: 0px 5px 0px 0px;
}

@media only screen and (max-width: 775px) {

    #mobile {
        display: block;
    }

    #desktop {
        display: none;
    }
    
    .intro .i-right {
        display: none;
    }

    .intro {
        display: block;
    }

    .il-ins {
        padding-bottom: 40px;
    }

    .about {
        margin-right: 60px;
        display: block;
    }

    .about img {
        display: none;
    }

    .break {
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
    }
    
    .break img {
        display: none;
    }

    .prod {
        display: block;
    }

    .prod img {
        display: none;
    }

    .ft-grid {
        display: block;
    }

    header nav {
        padding: 0px 30px 0px 40px;
    }

    .intro {
        padding: 
    }

    .f-top {
        padding: 30px 0px 30px 0px;
    }

    .ft-grid > div {
        margin: 30px 0px 30px 0px;
    }

    .intro .i-left {
        display: flex;
        align-content: center;
        padding: 0px 0px 0px 40px;
        align-items: center;
    }
}

.mn {
    z-index: 999;
}